#product{
  .content-card{
    .product{
      .tab-content{
        .categories{
          img{
            width: 50px;
            max-width: 50px;
            border-radius: 50%;
          }
        }
        .customClass1{
          background: #43a047;
        }
      }
    }
  }
}
